<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <!--<add name="cs" connectionString="Server=tcp:pppk-galiman.database.windows.net,1433;Initial Catalog=People;Persist Security Info=False;User ID=sas;Password=Pa$$w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
      <add name="cs" connectionString="8IIuOjeQf3pJ4+xcSQKZUw/X030udYMZMEVheaaIKiLO22xxpTNP9Kj9BY3nUJDlxG/aP/u/hw4zdxOSZ2RsMvkpH9DIO6/Ej52IzRzXHX/Beq4+0K446vf1kTfNmiZ2R9ZwREzG2ymt46LPG7M188tjUZtwfA77aWPo/NUMbp8EIezz0YdXdGUFiK1wG7AKv8SiGRNLL/I44YXJ2gcCral/thgBjw+uERg6F4pNejZ98XDBEnrT/arVMl/JKnkG7sZfYftGlBxvHVmhJ0vmCodmh8L6fWSITO3azOYyM9c2S21R6epPfw=="/>
    </connectionStrings>
</configuration>